<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Welcome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>

<body class="w3-light-grey">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />


    <div class="w3-content" style="max-width:1400px">

        <!-- Header -->
        <header class="w3-container w3-center w3-padding-32">
            <h1>LOREM IPSUMS'S BLOG</h1>
            <p>Welcome to the blog of <span class="w3-tag">a little possum</span></p>
        </header>


        <div class="w3-row">


            <div class="w3-col l8 s12">

                <div class="w3-card-4 w3-margin w3-white">
                    <img src="/static/css/woods.jpg" alt="Nature" style="width:100%">
                    <div class="w3-container">
                        <h3><b></b></h3>
                        <h5>Currently, place holding, <span class="w3-opacity">Since 2020 CE</span></h5>
                    </div>

                    <div class="w3-container">
                        <p></p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ LESS</b></button></p>
                            </div>
                            <div class="w3-col m4 w3-hide-small">
                                <p><span class="w3-padding-large w3-right"><b>Comments &nbsp;</b> <span class="w3-tag">0</span></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>


                <div class="w3-card-4 w3-margin w3-white">
                    <div class="w3-container">
                        <h3><b>BLOG ENTRY</b></h3>
                        <h5>Nothing yet, <span class="w3-opacity">Since 1441 AH</span></h5>
                    </div>

                    <div class="w3-container">
                        <p></p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ LESS</b></button></p>
                            </div>
                            <div class="w3-col m4 w3-hide-small">
                                <p><span class="w3-padding-large w3-right"><b>Comments &nbsp;</b> <span class="w3-badge">0</span></span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="w3-col l4">

                <div class="w3-card w3-margin w3-margin-top">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Opposum_%2826145638541%29.jpg/768px-Opposum_%2826145638541%29.jpg" style="width:100%">
                    <div class="w3-container w3-white">
                        <h4><b>A Lil Possum</b></h4>
                        <p>Have some eggs???</p>
                        <p>TL;DR, I don't have anything yet.</p>
                    </div>
            </div>
            <hr>


            <div class="w3-card w3-margin">
                <div class="w3-container w3-padding">
                    <h4>Tags</h4>
                </div>
                <div class="w3-container w3-white">
                </div>
            </div>


        </div>


    </div>
    <canvas id="myCanvas"></canvas>
    </div>
    <script src={{ url_for('static', filename='js/get.js') }}> </script>

    <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">

        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>

</body>

</html>
